*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #372d2c;
}
.button-box{
    max-width: 900px;
    margin: 30px auto;
    position: relative;
}
.menu-container {
    display: flex;
    background: #fff;
}

/* ------------------- headings ------------------ */
h1{
    margin-bottom: 5px;
    line-height: 35px;
    font-size: 45px;
}
h2{
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 20px;
}
h3 {
    font-size: 18px;
    font-weight: 300;
}

/* ------------------- Left side ------------------ */
.left-block {
    position: relative;
    width: 40%;
}
.burger-img {
    width: 100%;
    height: 415px;
    display: block;
}

.burger-info {
    position: absolute;
    bottom: 30px;
    left: -15px;
    background: #000;
    color: #fff;
    padding: 40px 75px;
    font-weight: bold;
    text-align: center;
}    

.burger-info p{
    font-size: 15px;
    line-height: 20px;
}
.burger-info span {
    color: rgb(250, 201, 40);
}

/* ------------------- Right side ------------------ */
.right-block {
    width: 60%;
    padding: 40px 30px 0;
    box-sizing: border-box;
    text-align: center;
}
.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu-item {
    width: 45%;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.menu-item::before {
    content: "";
    position: absolute;
    bottom: 4px;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 90%;
    background-color: #ccc;
}
.menu-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: #ccc;
    
}
.menu-item p {
    margin: 5px 0;
    color: grey;
    font-weight: bold;
}
.menu-button {
    margin-left: auto;
    margin-right: 0;
    padding: 20px 40px;
    margin-top: 10px;
    background: #000;
    color: #fff;
    border: none;
    font-weight: 800;
    cursor: pointer;
    display: block;
}