* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* ------------------------ Table ------------------------*/
table {
    width: 700px;
    margin: 50px auto;
    border-collapse: collapse;
}

thead th {
    border: 2px solid black;
    font-weight: 100;
    text-align: left;
    padding-left: 5px;
}

tbody td {
    border: 2px solid black;
    padding-left: 5px;
}

th:nth-child(odd), td:nth-child(odd){
    background-color: #e6ffd6;
}
th:nth-child(even), td:nth-child(even) {
    background-color: #d7faba;
}
td:not(:last-child) {
    width: 13%;
}
.main-title {
    background-color: #33cc33 !important;
    color: rgb(245, 245, 245);
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding: 0;
}


/* ------------------------ Float ------------------------*/
.table {
    width: 700px;
    margin: auto;
    border: 1px solid black;
    height: 144px;
}

.cell {
    float: left;
    border: 1px solid black;
    padding-left: 5px;
}
.cell:nth-child(odd), .cell:nth-child(odd){
    background-color: #e6ffd6;
}
.cell:nth-child(even), .cell:nth-child(even) {
    background-color: #d7faba;
}
.cell:not(:last-child){
    width: 13%;
}
.cell:last-child{
    width: 35%;
}
.full-width {
    width: 100%;
    background-color: #33cc33;
    color: white;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
}